.param{
    background-color: rgb(35,43,45);
    height: 60px;
}

.addr{
    color: rgb(0, 0, 0);
    float: right;
    background-color: rgb(249,239,214);
    margin-top: 10px;
    margin-right: 15px;
    padding: 5px;
    /* width: 300px; */
    height: auto;
    border-radius: 10px ;
    /* display: inline-block; */
}

p{
    text-align: center;
}

#para1{
    color: rgb(0, 0, 0);
    
    background-color: rgb(249,239,214);
    margin-top: 10px;
    margin-left: 15px;
    padding: 5px;
    width: 300px;
    border-radius: 10px ;
    height: 20px;
    display: inline-block;
}

#para2{
    color: rgb(168, 168, 211);
    
    background-color: rgb(249,239,214);
    margin-top: 10px;
    margin-left: 15px;
    padding: 5px;
    width: 300px;
    border-radius: 10px ;
    height: 20px;
    display: inline-block;
}


h3{
    text-align: center;
   }

.network{
    text-align: center;
}